<div class="my-5">
    <h1 class="text-center">강좌관리</h1>
    <table id="tbl_courses" class="table table-striped table-hover"></table>
    <script id="temp_courses" type="text/x-handlebars-template">
        <tbody>
        {{#each .}}
        <tr>
            <td>{{LCODE}}</td>
            <td>{{LNAME}}</td>
            <td>{{HOURS}}</td>
            <td>{{ROOM}}</td>
            <td>{{PNAME}}</td>
            <td>{{CAPACITY}}</td>
            <td>{{PERSONS}}</td>
        </tr>
        {{/each}}
        </tbody>
    </script>
</div>
<script>
    getList();
    function getList() {
        $.ajax({
            type:"get",
            url:"/haksa/cou/list.json",
            success:function(data){
                const temp=Handlebars.compile($("#temp_courses").html());
                $("#tbl_courses").html(temp(data));
            }
        });
    }
</script>
