<div class="my-5">
    <h1 class="text-center mb-5">게시글</h1>
    <form name="frm" class="d-flex justify-content-center mb-3">
        <input name="word" class="form-control w-50 me-2" placeholder="검색어를 입력하세요">
        <button type="submit" class="btn btn-outline-primary">검색</button>
    </form>
    <div class="text-end mb-2 row">
        <button class="btn btn-link px-5 btn-insert">글쓰기</button>
    </div>
    <table id="tbl" class="table table-striped table-hover"></table>
    <div class="text-center">
        <button class="btn btn-primary btn-sm px-3" id="prev">이전</button>
        <span id="page" class="mx-3"></span>
        <button class="btn btn-primary btn-sm px-3" id="next">다음</button>
    </div>
    <script id="temp" type="text/x-handlebars-template">
        <tbody>
        {{#each .}}
        <tr>
            <td>{{RN}}</td>
            <td><a href="/posts/{{ID}}">{{TITLE}}</a></td>
            <td>{{CONTENT}}</td>
            <td>{{SNAME}}({{WRITER}})</td>
            <td class="text-end">{{FMT_DATE}}</td>
         </tr>
        {{/each}}
        </tbody>
    </script>
</div>
<script>
    let page=1;
    let size=5;
    let word="";
    getList();

    $(frm).on("submit", function(e){
        e.preventDefault();
        word = $(frm.word).val();
        page = 1;
        getList();
    });
    $(".btn-insert").on("click", function(){
        if(scode){
            location.href='/posts/insert';
        }else{
            sessionStorage.setItem("target", "/posts/insert");
            location.href='/users/login';
        }
    });

    $("#next").on("click", function(){
        page++;
        getList();
    });

    $("#prev").on("click", function(){
        page--;
        getList();
    });

    function getList(){
        console.log(page, size);
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            data:{page, size, word},
            success:function(data) {
                console.log(data);
                const temp = Handlebars.compile($("#temp").html());
                $("#tbl").html(temp(data.list));
                const last = Math.ceil(data.total/size);
                $("#page").html(`${page}/${last}`);

                //1페이지에서 이전 버튼을 클릭한 경우
                if(page==1) $("#prev").prop("disabled", true);
                else  $("#prev").prop("disabled", false);
                //마지막 페이지에서 다음 버튼을 클릭한 경우
                if(page==last) $("#next").prop("disabled", true);
                else  $("#next").prop("disabled", false);
            }
        })
    }
</script>